/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
  background: #f3f4f9;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #121212;
  color: white;
  padding: 25px;
  font-size: 16px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 0;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar ul li:hover,
.sidebar ul .active {
  color: #00d2ff;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.notif-wrapper {
  position: relative;
}

.notif-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  width: 250px;
  z-index: 10;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.card {
  width: 230px;
  padding: 20px;
  color: white;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.blue { background: #0066ff; }
.green { background: #00b894; }
.orange { background: #fd7e14; }

.card .value {
  font-size: 28px;
  font-weight: bold;
}

/* Progress */
.progress-box {
  margin-top: 40px;
}

.progress-bar {
  width: 100%;
  background: #ddd;
  height: 12px;
  border-radius: 20px;
  overflow: hidden;
}

.fill {
  height: 12px;
  background: #0066ff;
}

.info {
  margin-top: 10px;
  font-size: 14px;
}

.predict-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #0066ff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Table */
.table-section {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #e4e4e4;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
